<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpPlatform stdoutLogEnabled="true" stdoutLogFile="rails.log" startupTimeLimit="20" processPath="D:\home\site\wwwroot\start-rails.cmd" startupRetryCount="3">
      <environmentVariables>
        <environmentVariable name="RAILS_ENV" value="production"/>
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
